@page
@model RazorPizzeria.Pages.Checkout.CheckoutModel
@{
    var photoPath = "~/images/Pizzas/" + (@Model.ImageTitle + ".png");
}

<div class="d-flex justify-content-center">
    <div class="card shadow rounded-5" style="width: 25rem">
        <img src="@photoPath" asp-append-version="true" />
        <div class="card-body">
            <h5 class="card-title">Your order for @Model.PizzaName is ready!</h5>
            <p class="card-text">Total Purchase price for your Order is: @Model.PizzaPrice UAH</p>
            <button class="btn btn-dark text-light mt-1 mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm Order</button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thanks for your order!</h5>
            </div>
            <div class="modal-body">
                <p>Your pizza will be ready for takeaway in 30 minutes.</p>
                
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="redirectToPizzaPage()">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.7.0/js/bootstrap.bundle.min.js"></script>
<script>
    function redirectToPizzaPage() {
        window.location.href = '/Pizza';
    }
</script>
