@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="jumbotron mt-5">
        <h1 class="display-4" style="font-weight: bold">Delicious pizza</h1>
        <p class="lead">Experience pizza perfection, where every bite is a divine explosion of flavor</p>
        <hr class="my-4">

        <div class="mt-4 d-flex justify-content-center">
            <img class="card d-block w-40 mt-4" style="margin-right: 10px;" src="~/images/PizzaTime.png">
        </div>

        <div style="display: flex; justify-content: center;">
            <a class="btn btn-dark mt-3 text-light" asp-area="" asp-page="Pizza">BRING ME THAT PIZZA</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.7.0/js/bootstrap.min.js"></script>
